<a href="https://colab.research.google.com/github/sangjin94/SQL_ITWILL/blob/main/py02_variable.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Data Type(자료 형)

*    숫자 타입: 
    *    int: 정수
    *    float: 실수
*    문자열 타입: str
*    논리 타입: bool - True/False 두 가지 상태를 저장하는 변수

In [ ]:
# 변수 n에 정수 100을 저장
n = 100
print(n)

100

In [ ]:
type(n) # type(x): 변수 x의 자료 형(data type)을 반환.

int

In [ ]:
pi=3.141592
print(pi)

3.141592

In [ ]:
type(pi)

float

In [ ]:
s = '안녕하세요'
print(s)
print(type(s))
type(s)

안녕하세요
<class 'str'>

str

In [ ]:
b = True # Python 예약어들은 대/소문자를 구분함.
print(b)
type(b)

True

bool

In [ ]:
b= 5 > 1
print(b,type(b))

True <class 'bool'>

# 명시적 타입 변환( explicit type conversion)

* `int(값)`: 값을 정수로 변환하는 함수
* `float(값)`: 값을 실수로 변환하는 함수
* `str(값)` :  값을 문자열로 변환하는 함수

In [ ]:
num_str= '123'
type(num_str)

str

In [ ]:
num_int=int(num_str) # 문자열 '123' 을 정수 123으로 변환 후 변수 num_int에 저장. 
type(num_int)

int

In [ ]:
pi = '3.141592'
type(pi)

str

In [ ]:
# int('3.14') #> 문자열 '3.13' 는 정수로 변환 불가능.
# int('1,000') #> 문자열 '1,000' 은 정수로 변환 불가능.
# float('1,000.0') #> 문자열 '3.141592'를 실수로 변환 후 그 결과를 변수 pi에 저장.

# 산술 연산자

*    산술 연산자 종류: `+`,`-`,`*`,`/`,`**`,`//`,`%`
*    산술 연산자는 숫자 타입(int,float)의 값 또는 변수에서 사용할 수 있음.

In [ ]:
n1 = 10
n2 = 3

In [ ]:
print(f'{n1}+{n2}={n1 + n2}')
print(f'{n1}-{n2}={n1 - n2}')
print(f'{n1}*{n2}={n1*n2}')
print(f'{n1}/{n2}={n1/n2}')
print(f'{n1}의 {n2} 거듭제곱= {n1**n2}')
print(f'{n1}을 {n2}로 나눈 몫 = {n1//n2}')
print(f'{n1}을 {n2}로 나눈 나머지 = {n1%n2}')

10+3=13
10-3=7
10*3=30
10/3=3.3333333333333335
10의 3 거듭제곱= 1000
10을 3로 나눈 몫 = 3
10을 3로 나눈 나머지 = 1

문자열(str)에서 사용할 수 있는 산술 연산자:
   * `+`: concatenate.문자열 이어 붙이기.
   
   * `*`: replicate. 문자열 복제.

In [ ]:
'Hello'+'Phyton'

'HelloPhyton'

colab 노트북의 코드 셋에서 가장 마지막 문장이 값 또는 변수(객체) 이면, 그 객체의 값이 콘솔창에 출력됨.

In [ ]:
'Hello'*5

'HelloHelloHelloHelloHello'

bool 타입의 값들을 산술 연산을 하면, True는 1, False는 0으로 자동 변환(implicit type conversion)이 된 후 연산이 수행됨.

In [ ]:
True + True

2

In [ ]:
(True+ False+True)/3

0.6666666666666666

# 비교 연산자

* 비교 연산자 : `==`,`!=`,`>`,`>=`,`<`,`<=`
* 논리 연산자 : `and`,`or`,`not`

In [ ]:
X = 100

In [ ]:
print(X==100)  # equal to
print(X!=100) # not equal to  
print(X>100) # greater than

True
False
False

In [ ]:
print((X>50) and (X<150))
print((X>100) and (X<150))
print((X>100) or (X<150))

True
False
True

# Exercise

섭씨 온도를 입력 받아서 화씨 온도로 변환 후 출력하는 코드를 작성.

`fahreheit = celcius *1.8 +32`

In [ ]:
celcius = int(input('섭씨 온도 입력>>'))
fahreheit  = celcius*1.8+32
print(fahreheit )

섭씨 온도 입력>>30
86.0