<a href="https://colab.research.google.com/github/sangjin94/SQL_ITWILL/blob/main/py05_for.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**for 반복문**



```
for 변수 in iterable-type:
    반복해서 실행할 블록(문장들)
```

*    iterable-type: 반복 가능한 데이터 타입.
    * range,list,tuple,dict,set,str,...

In [ ]:
# range(start,stop,step) : start<= x < stop 범위의 step만큼 씩 증가하는 정수들을 생성.
for x in range(1,5,1):
  print(x)

1
2
3
4

In [ ]:
# range(start,stop): start<= x < stop 범위의 1씩 증가하는 정수들을 생성.
for x in range(0,5):
  print(x)

0
1
2
3
4

In [ ]:
# range(stop): 0<= x < stop 범위의 1씩 증가하는 정수들을 생성. 
for x in range(5):
  print(x)

0
1
2
3
4

In [ ]:
# range(start,stop,step): start >= x > stop 범위의 step 만큼씩 감소하는 정수들을 생성.
for x in range(5,0,-1):
  print(x)

5
4
3
2
1

문자열(string): 문자들의 집합(순서가 있는 배열). --> 반복가능한 (iterable)
데이터 타입

In [ ]:
msg= '안녕하세요'
for x in msg:
  print(x)

안
녕
하
세
요

0 이상 10미만의 짝수들을 출력

In [ ]:
for x in range(0,10,2):
  print(x)

0
2
4
6
8

In [ ]:
for n in range(10): # (0,1,2,3,4,5,6,7,8,9)
  if n %2==0: # n을 2로 나눈 나머지가 0이면 (n이 짝수이면)
    print(n)

0
2
4
6
8

In [ ]:
for n in range(1,6):
  print('*'*n)

*
**
***
****
*****

In [ ]:
for i in range(1,10):
  if i<6:
    print('*'*i)
  else:
    print('*'*( 10 - i))

*
**
***
****
*****
****
***
**
*

In [ ]:
for n in range(1,6):
  print('*'*n)
for n in range(4,0,-1):
  print('*'*n)

*
**
***
****
*****
****
***
**
*

In [ ]:
# abs(x): x의 절대 값을 반환
for n in range(-4,5,1):
  i= abs(n)
  print("*"*(5-i))

*
**
***
****
*****
****
***
**
*

다음과 같이 구구단을 출력하는 코드를 작성하세요.

In [ ]:
for n in range(1,13):
 # print('12 x',n,'=',12*n) 도 가능
    print(f'12 x {n}= {12*n}')

12 x 1= 12
12 x 2= 24
12 x 3= 36
12 x 4= 48
12 x 5= 60
12 x 6= 72
12 x 7= 84
12 x 8= 96
12 x 9= 108
12 x 10= 120
12 x 11= 132
12 x 12= 144

ctrl + /  커서가 있는 한 줄 또는 선택된 영역을 주석 토글(toggle)

**중첩 반복문(Nested Iteration)**

In [ ]:
dan=2 
for n in range(1,10):
  print(f'{dan} x {n} = {dan * n}')

In [ ]:
for dan in range(2,10): # (2,3,4,5,6,7,8,9)
  for n in range(1,10): #(1,2,3,4,5,6,7,8,9)
    print(f'{dan} x {n} = {dan * n}')
  print('-'*20)

# `break` 와 `continue`

*    `break` : iteration 종료. 반복문 바깥 코드를 실행. break가 포함되어 있는 가장
가까운 반복문을 빠져나옴.
*    `continue` : (반복문 블록 내부 실행문의 수행을 멈추고) 다음 iteration을 수행.

In [ ]:
for x in range(5): 
  if x == 2:
    break
  print(x)

0
1

In [ ]:
for x in range(5):
  if x== 2:
    continue
  print(x)

0
1
3
4

다음과 같이 출력하는 코드를 작성하세요.

In [ ]:
for x in range(2,10):
  for y in range(1,10):
    if y == x+1:
      break
    print (f'{x} x {y} = {x*y}')
    
  print('-'*20)

In [ ]:
for x in range(2,10):
  for y in range(1,10):
    if y <= x:
      print (f'{x} x {y} = {x*y}')
    
  print('-'*20)

In [ ]:
for x in range(2,10):
  for y in range(1,x+1):
      print (f'{x} x {y} = {x*y}')
    
  print('-'*20)