<a href="https://colab.research.google.com/github/sangjin94/SQL_ITWILL/blob/main/py07_loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# print 함수의 파라미터

*    특수기호
  *  `\t`: 탭(tab)
  *  `\n`: 줄바꿈(new line)
*    `print()` 함수의파라미터
*     `end` : 콘솔 창에 출력후 어떤 동작을 할 것인지를 설정. 기본값은 줄바꿈(`\n`)   
*    `sep`: 출력하는 argument를 구별하기 위한 문자를 설정. 기본값은 공백('')

In [ ]:
print('hello')
print('안녕하세요')
print('hi')

hello
안녕하세요
hi

In [ ]:
print('hello',end=',')
print('안녕하세요',end=',')
print('hi',end=',')

hello,안녕하세요,hi,

In [ ]:
print('hello',end='\t')
print('안녕하세요',end='\t')
print('hi')

hello	안녕하세요	hi

In [ ]:
print('hello','안녕하세요','Good morning')
print('hello','안녕하세요','Good morning',sep=',')
print('hello','안녕하세요','Good morning',sep='::')

hello 안녕하세요 Good morning
hello,안녕하세요,Good morning
hello::안녕하세요::Good morning

# EX1

In [ ]:
print(1,'little',2,'little',3,'little','indian',sep=' ')
print(4,'little',5,'little',6,'little','indian',sep=' ')
print(7,'little',8,'little',9,'little','indian',sep=' ')
print(10,'little','indian','boys!',sep=' ')

1 little 2 little 3 little indian
4 little 5 little 6 little indian
7 little 8 little 9 little indian
10 little indian boys!

In [ ]:
for x in range(1,10,3):
  print(x,'little',x+1,'little',x+2,'little','indian',sep=' ')
  if x==7:
    print(x+3,'little','indian','boys!',sep=' ')

1 little 2 little 3 little indian
4 little 5 little 6 little indian
7 little 8 little 9 little indian
10 little indian boys!

# EX2

In [ ]:
for n in range(1,101):
  
  n_1= n%10 # 10으로 나눈 나머지
  #숫자 n의 10의 자리수
  n_10= n //10 # 10으로 나눈 몫
  
  #1의 자릿수가 3 또는 6 또는 9 이면
  condition_1= (n_1 == 3) or (n_1==6) or (n_1==9)
  #10의 자릿수가 3또는 6 또는 9이면
  condition_10= (n_10 == 3) or (n_10==6) or (n_10==9)

  if condition_1 or condition_10 : 
    # 1의 자릿수가 3,6,9 이거나 10의 자릿수가 3,6,9이면 
    print('*',end='\t') 
  else:
    print(n,end='\t')
  
  # 숫자 10개를 출력할 때 마다 줄바꿈을 출력
  if n%10==0:
    print()

1	2	*	4	5	*	7	8	*	10
11	12	*	14	15	*	17	18	*	20
21	22	*	24	25	*	27	28	*	*
*	*	*	*	*	*	*	*	*	40
41	42	*	44	45	*	47	48	*	50
51	52	*	54	55	*	57	58	*	*
*	*	*	*	*	*	*	*	*	70
71	72	*	74	75	*	77	78	*	80
81	82	*	84	85	*	87	88	*	*
*	*	*	*	*	*	*	*	*	100

In [ ]:
for n in range(1,101):
  
  n_1= n%10 # 10으로 나눈 나머지
  #숫자 n의 10의 자리수
  n_10= n //10 # 10으로 나눈 몫
  
  if  n_1 == 3: 
    print('*',end='\t')
  elif n_1 ==6:
    print('*',end='\t')
  elif n_1 ==9:
    print('*',end='\t')    
  elif n_10 ==3:
    print('*',end='\t')  
  elif n_10 ==6:
    print('*',end='\t')     
  elif n_10 ==9:
    print('*',end='\t')
  else:
    print(n,end='\t')
  
  # 숫자 10개를 출력할 때 마다 줄바꿈을 출력
  if n%10==0:
    print()

1	2	*	4	5	*	7	8	*	10
11	12	*	14	15	*	17	18	*	20
21	22	*	24	25	*	27	28	*	*
*	*	*	*	*	*	*	*	*	40
41	42	*	44	45	*	47	48	*	50
51	52	*	54	55	*	57	58	*	*
*	*	*	*	*	*	*	*	*	70
71	72	*	74	75	*	77	78	*	80
81	82	*	84	85	*	87	88	*	*
*	*	*	*	*	*	*	*	*	100

In [ ]:
print( 1, 2, '*',4,5,'*',7,8,'*',10,sep=' ')
print( 11, 12, '*',14,15,'*',17,18,'*',20,sep=' ')
print( 21, 22, '*',24,25,'*',27,28,'*','*',sep=' ')
print( '*','*', '*','*','*','*','*''*','*',40,sep=' ')
print( 41, 42, '*',44,45,'*',47,48,'*',50,sep=' ')
print( 51, 52, '*',54,55,'*',57,58,'*','*',sep=' ')
print( '*', '*', '*','*','*','*','*','*','*',70,sep=' ')
print( 71, 72, '*',74,75,'*',77,78,'*',80,sep=' ')
print( 81, 82, '*',84,85,'*',87,88,'*','*',sep=' ')
print( '*', '*', '*','*','*','*','*','*','*',100,sep=' ')

1 2 * 4 5 * 7 8 * 10
11 12 * 14 15 * 17 18 * 20
21 22 * 24 25 * 27 28 * *
* * * * * * ** * 40
41 42 * 44 45 * 47 48 * 50
51 52 * 54 55 * 57 58 * *
* * * * * * * * * 70
71 72 * 74 75 * 77 78 * 80
81 82 * 84 85 * 87 88 * *
* * * * * * * * * 100

`in` `not in` 연산자

In [ ]:
result =1 in range(10)
print(result)

result = 'h' not in 'Hello'
print(result)

True
True

In [ ]:
for n in range(1,101):
  n_str = str(n) # 정수 n을 문자열로 변환 후 저장. 
  if ('3'in n_str) or ('6'in n_str) or ('9'in n_str):
      #문자열 n_str에 '3'또는, '6'또는 , '9'가 포함되어 있으면
      print('*',end='\t')
  else:
    print(n_str,end='\t')

    # 10개 출력후 줄바꿈
  if n%10==0:
     print()

1	2	*	4	5	*	7	8	*	10
11	12	*	14	15	*	17	18	*	20
21	22	*	24	25	*	27	28	*	*
*	*	*	*	*	*	*	*	*	40
41	42	*	44	45	*	47	48	*	50
51	52	*	54	55	*	57	58	*	*
*	*	*	*	*	*	*	*	*	70
71	72	*	74	75	*	77	78	*	80
81	82	*	84	85	*	87	88	*	*
*	*	*	*	*	*	*	*	*	100