<a href="https://colab.research.google.com/github/sangjin94/SQL_ITWILL/blob/main/py08_list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# List(리스트)

*    list: 여러개의 값들을 하나의 변수에 저장하기 위한 데이터 타입.

*    element(원소,요소): 리스트에 저장된 각각의 값. 

*    index(인덱스): 리스트에 값이 저장된 위치(번호).
    *  리스트의 인덱스는 **0**부터 시작!!
    *  리스트의 마지막 원소의 인덱스는 (원소개수-1)

*    리스트는 원소들을 변경(추가/삭제)할 수 있음.
    * tuple과 다른점 !!

In [ ]:
# 숫자들을 저장하는 list
numbers = [ 10, 20, 100, 90,80]
print(numbers)
print(type(numbers))

[10, 20, 100, 90, 80]
<class 'list'>

# indexing

인덱스를 사용해서 리스트의 원소를 사용하는 방법

In [ ]:
print(numbers[0])# 리스트의 첫번째 원소
print(numbers[3])# 리스트의 인덱스 4번 원소
print(numbers[-1]) #리스트의 마지막 원소
# print(numbers[5]) #> IndexError 발생 - 인덱스의 범위를 벗어난 인덱스를 사용했기 때문.

10
90
80

# slicing



```
# 코드로 형식 지정됨
```
*    start <= index < end 범위의 인덱스 위치의 원소들을 선택
*    start가 생략되면 list의 첫번째 원소부터 선택
*    end가 생략되면 리스트의 마지막 원소까지 선택
*    slicing의 결과는 *새로운 리스트*

In [ ]:
numbers[1:4] # 1<= index < 4 인덱스 범위의 원소들로 이루어진 리스트

[123, 20, 100]

In [ ]:
numbers[:3] # 0<= index <3 인덱스 범위의 원소들로 이루어진 리스트

[10, 20, 100]

In [ ]:
numbers[3:] #3 <= index < 마지막 인덱스 범위의 원소들로 이루어진 리스트

In [ ]:
numbers[:] # 처음부터 끝까지

In [ ]:
# 끝에서 3개 선택
numbers[-3:]

[100, 90, 80]

In [ ]:
print(numbers[1]) # 인덱스 1번 위치의 "원소" -> 숫자 1개
print(numbers[1:2]) # 1<= index < 2 범위의 원소들로 이루어진 "리스트" -> 숫자 1개를 갖고 있는 "리스트"

20
[20]

## 문자열- 문자들의 리스트

In [ ]:
# 문자열 -> 인덱스, 인덱싱, 슬라이싱 
message= 'Hello, Python!' #14개의 문자를 가지고 있는 문자열
print(message[0]) # indexing
print(message[13])
print(message[-1])
print(message[:5]) # slicing

H
!
!
Hello

# list의 산술 연산

문자열의 산술 연산: `+,*`

In [ ]:
'Hello'+'Python' # +: concatenate

'HelloPython'

In [ ]:
'Hello'*3 # *: replicate

'HelloHelloHello'

list의 산술 연산: `+,*`

In [ ]:
[1,2,3] + [10,20,30] #+ : concatenate (이어 붙이기)

[1, 2, 3, 10, 20, 30]

In [ ]:
[1,2,3] * 3 # *: replicate(복제하기)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

# list의 매서드(함수) - 기능

## element(원소,요소) 추가

In [ ]:
# list.append(값) : 리스트의 가장 마지막에 새로운 원소를 추가.
print(numbers)
numbers.append(0,3) #새로운 원소추가

[10, 123, 20, 100, 90, 80, 0, 0, 1, 2, 3, 1, 2, 3, [0], [0], 1, 2, 3, 0, (0, 3)]

In [ ]:
#list.insert(index,object): list의 index위치에 object(값)을 추가(삽입)
print(numbers) # insert 전
numbers.insert(1,123) # index 1 위치에 123을 추가
print(numbers) # insert 후

[10, 20, 100, 90, 80, 0, 0]
[10, 123, 20, 100, 90, 80, 0, 0]

In [ ]:
# list.extend(iterable): 리스트 이어 붙이기(concatenate). + 연산과 동일.
print(numbers) # extend 전
numbers.extend([1,2,3]) # numbers + [1,2,3]
print(numbers)

[10, 123, 20, 100, 90, 80, 0, 0, 1, 2, 3, 1, 2, 3, [0], [0]]
[10, 123, 20, 100, 90, 80, 0, 0, 1, 2, 3, 1, 2, 3, [0], [0], 1, 2, 3]

## element 삭제

In [ ]:
# list.remove(값): 리스트에서 가장 먼저 등장하는 값으로 삭제
numbers = [1,2,3,1,2,10,20]
print(numbers)
numbers.remove(1)
print(numbers)

[1, 2, 3, 1, 2, 10, 20]
[2, 3, 1, 2, 10, 20]

In [ ]:
# list.pop(index): 인덱스 위치의 원소를 삭제.index를 생략하면 가장 마지막 원소를 삭제
numbers = [1,2,3,1,2,10,20]
print(numbers) # 삭제전
numbers.pop(1) # index 1 위치의 값을 삭제
print(numbers) # 삭제후
numbers.pop() # 가장 마지막 원소 삭제
print(numbers)

[1, 2, 3, 1, 2, 10, 20]
[1, 3, 1, 2, 10, 20]
[1, 3, 1, 2, 10]

In [ ]:
# list.clear(): 리스트의 모든 원소 삭제
numbers = [1,2,3,1,2,10,20]
print(numbers) # 삭제전
numbers.clear() # 모든 원소 삭제
print(numbers) # 삭제후 -> empty list

[1, 2, 3, 1, 2, 10, 20]
[]

## 리스트의 값 수정

In [ ]:
# list[index] = value
numbers=[1,2,3,4,5]
print(numbers)
numbers[0]= 100
print(numbers)

[1, 2, 3, 4, 5]
[100, 2, 3, 4, 5]

# list 와 for 반복문

In [ ]:
numbers= [1,10,100,1000]
# 리스트에서 값만 반복(iteration)
for x in numbers:
  print(x)

1
10
100
1000

In [ ]:
# 리스트의 인덱스와 값을 동시에 반복(iteration)
for index, value in enumerate(numbers):
  print(index +1,'번째',value)
for x, y in enumerate(numbers):
  print(x +1,'번째',y)

1 번째 1
2 번째 10
3 번째 100
4 번째 1000
1 번째 1
2 번째 10
3 번째 100
4 번째 1000

In [2]:
import random # 난수 생성 함수들을 가지고 있는 모듈

1. 빈 리스트(empty list) 생성

In [11]:
numbers=[] # empty list

2. 1에서 생성한 빈 리스트에 1~10 사이의 정수 난수 5개를 저장

In [12]:
random.seed(1) # 난수가 만들어지는 순서를 고정.

for i in range(5):
  numbers.append(random.randrange(1,11))
print(numbers)

[3, 10, 2, 5, 2]

3. 리스트에 저장된 모든 숫자들의 합(sum)을 계산하고 출력

In [16]:
total= sum(numbers)
print(total)

22

In [27]:
total= 0
for i in numbers:
   total += i
print('total=',total)

total= 22

4. 리스트에 저장된 모든 숫자들의 평균을 계산하고 출력

In [24]:
# len(반복 가능한 타입): 원소의 개수를 반환 
avg= total/ len(numbers)
print('average=',avg)

average= 4.4