<a href="https://colab.research.google.com/github/sangjin94/SQL_ITWILL/blob/main/py09_list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 리스트와 for 반복문

In [1]:
import random # 난수 생성 함수를 가지고 있는 모듈 사용

*    empty list 생성 - numbers
*    10~100 범위의 정수 난수 10개를 리스트에 추가하고 출력'
*    리스트의 원소들 중 짝수들로만 이루어진 새로운 리스트를 생성하고 출력 -evens
*    리스트의 원소들 중 홀수들로만 이루어진 새로운 리스트를 생성하고 출력 - odds

In [4]:
numbers=[]
for _ in range(10):
  numbers.append(random.randrange(10,101))
print(numbers)

[75, 35, 45, 88, 54, 86, 93, 30, 29, 46]

In [12]:
evens=[]
for i in numbers:
 if i % 2 == 0:
   evens.append(i) 
print(evens)

[88, 54, 86, 30, 46]

In [13]:
odds=[]
for i in numbers:
 if i % 2 == 1:
   odds.append(i) 
print(odds)

[75, 35, 45, 93, 29]

* ` random.randrange(start,stop)` : start<= r < stop 범위
* ` random.randint(start,stop)` : statr<= r <= stop 범위

*  empty list를 생성 -numbers
*  -10~10 범위의 정수 난수 10개를 리스트에 추가, 출력
*  리스트의 원소가 양수이면 True, 그렇지 않으면 False를 저장하는 리스트를 생성, 출력- positives

In [28]:
numbers=[]
for _ in range(10):
  numbers.append(random.randrange(-10,11))
print(numbers)
positives=[]
for i in numbers:
  positives.append(i > 0) 
print(positives)

[8, 10, -5, 2, -6, -3, -3, 0, 5, -9]
[True, True, False, True, False, False, False, False, True, False]

*  empty list를 생성 -numbers
*  리스트에 0또는 1을 랜덤하게 10번추가 , 출력
*  리스트의 원소가 0이면 'Male',1 이면 'Female'를 저장하는 리스트를 생성, 출력

In [35]:
numbers=[]              # 0 또는 1 들을 저장할 리스트 
for _ in range(10):
  numbers.append(random.randrange(0,2))
print(numbers)
gender=[]                # Male 또는 Female 들을 저장할 리스트
for i in numbers:               # 리스트 gender_codes의 원소들을 반복하면서 
  if i == 0 :
    gender.append('Male')
  elif i == 1 :
    gender.append('Female')
print(gender)

[0, 0, 1, 1, 1, 1, 1, 1, 0, 0]
['Male', 'Male', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Male', 'Male']

# List Comprehension (리스트 내포)

In [36]:
# 1~10 까지 정수들을 차례로 저장하는 리스트
numbers=[]
for x in range(1,11):
  numbers.append(x)

print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [37]:
# list comprehension
numbers = [x for x in range(1,11)]
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [39]:
# [1,4,9,16,25,36,49,64,81,100]
numbers=[x**2 for x in range(1,11)]
print(numbers)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [40]:
# 0 이상 10 이하의 짝수들을 갖는 리스트
numbers=[]
for i in range (11):
  if i %2 == 0:
    numbers.append(i)
print(numbers)

[0, 2, 4, 6, 8, 10]

In [41]:
numbers=[x for x in range(0,11,2)]
print(numbers)

[0, 2, 4, 6, 8, 10]

In [45]:
fruits= ['apple','banana','cherry','dragon fruit','pineapple']

In [48]:
# fruits가 가지고 있는 문자열들의 길이를 저장하는 리스트
leng=[]
for x in fruits:
  leng.append(len(x))
print(leng)

[5, 6, 6, 12, 9]

In [50]:
leng=[len(x) for x in fruits]
print(leng)

[5, 6, 6, 12, 9]

In [54]:
# 10~100 범위의 정수 난수 10개를 저장하는 리스트
numbers= [random.randrange(10,101) for x in range(10)]
print(numbers)

[73, 23, 19, 58, 32, 54, 100, 59, 11, 95]

In [55]:
# numbers의 원소들 중에서 짝수로만 이루어진 리스트: evens
evens= [x for x in numbers if x%2==0]
print(evens)

[58, 32, 54, 100]

In [56]:
# numbers의 원소들 중에서 홀수로만 이루어진 리스트: evens
odds= [x for x in numbers if x%2==1]
print(odds)

[73, 23, 19, 59, 11, 95]

In [57]:
# -10~10 범위의 정수 난수 10개를 저장하는 리스트
numbers=[random.randrange(-10,11) for x in range(10)]
print(numbers)

[6, 2, 6, 8, 7, 6, -7, 1, 0, 2]

In [58]:
# numbers의 원소가 양수이면 True, 그렇지 않으면 False를 저장하는 리스트
numbers=[x>0 for x in numbers]
print(numbers)

[True, True, True, True, True, True, False, True, False, True]

In [59]:
# if-else 표현식(expression): 값1 if 조건식 else 값2
x = 100
#is_positive = (x>0)
is_positive = True if x>0 else False
print(is_positive)

True

In [61]:
positives= [True if x>0 else False for x in numbers]
print(positives)

[True, True, True, True, True, True, False, True, False, True]

In [62]:
# 0 또는 1 10개를 저장하는 리스트 
gender_code= [random.randrange(0,2) for x in range(10)]
print(ge)

In [66]:
# 리스트 gender_codes의 값이 0이면 'Male' , 1이면 'Female'을 저장하는 리스트
print(gender_code)
gender=['Male' if x == 0 else 'Female' for x in gender_code ]
print(gender)

[1, 1, 0, 0, 1, 1, 1, 1, 0, 0]
['Female', 'Female', 'Male', 'Male', 'Female', 'Female', 'Female', 'Female', 'Male', 'Male']

In [68]:
# numbers: 10개의 정수 난수를 저장하는 리스트 
numbers=[random.randrange(10) for x in range(10)]
# evens: numbers의 원소가 짝수이면 'even', 홀수이면 ' odd' 를 저장하는 리스트
evens=['even' if x %2==0 else 'odd' for x in numbers ]
print(evens)

['odd', 'even', 'odd', 'odd', 'even', 'odd', 'even', 'even', 'odd', 'odd']

elif 표현식은 없고 if-else를 반복해서 사용하면됌.

In [74]:
# gender_codes: (0,1,2)10 개가 저장된 리스트 
gender_code=[random.randrange(0,3) for _ in range(10)]
print(gender_code)
# genders: gender_codes의 원소가 0이면 'male', 1이면 'female',2이면 'unknown'을 저장하는 리스트
genders=['male' if x==0 else ('Female' if x==1 else 'unknown') for x in gender_code]
print(genders)

[2, 2, 0, 0, 2, 1, 1, 2, 2, 2]
['unknown', 'unknown', 'male', 'male', 'unknown', 'Female', 'Female', 'unknown', 'unknown', 'unknown']

In [90]:
# numbers1: 10미만의 정수 난수 10개를 저장하는 리스트
# numbers2: 10미만의 정수 난수 10개를 저장하는 리스트
# add: numbers1과 numbers2의 같은 인덱스의 원소들끼리 더한 값을 저장한 리스트
numbers1=[random.randrange(10) for _ in range(10)]
numbers2=[random.randrange(10) for _ in range(10)]
print(numbers1,numbers2)
add=[numbers1[i] + numbers2[i] for i in range(len(numbers1))]
print(add)

[5, 1, 4, 2, 8, 1, 5, 9, 2, 9] [8, 9, 5, 4, 0, 1, 2, 7, 9, 2]
[13, 10, 9, 6, 8, 2, 7, 16, 11, 11]

In [93]:
# adds=[]
# for x, y in zip(numbers1,numbers2):
#   adds.append(x+y)
adds=[x+y for x,y in zip(numbers1,numbers2)]
print(adds)

[13, 10, 9, 6, 8, 2, 7, 16, 11, 11]

# 다차원 리스트

In [94]:
# 2차원 리스트: 1차원 리스트를 원소로 갖는 리스트
matrix= [[1,2,3],
         [4,5,6],
         [7,8,9]]
print(matrix)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [97]:
# 2차원 리스트의 indexing
print(matrix[0])

[1, 2, 3]

In [98]:
print(matrix[0][0])

1

## 2차원 리스트와 for 반복문

In [106]:
for row in matrix:
  for x in row:
    print(x)

1
2
3
4
5
6
7
8
9

In [112]:
for row in matrix:

  for x in row:
    print(x,end=' ')
  print()

1 2 3
4 5 6
7 8 9

In [119]:
for i, row in enumerate(matrix):
  for j, value in enumerate(row):
     print(i,j,value,sep=':')

0:0:1
0:1:2
0:2:3
1:0:4
1:1:5
1:2:6
2:0:7
2:1:8
2:2:9

3 x 3 모양의 정수 난수를 저장한 2차원 리스트 2개 

result: matrix1 과 matrix2 리스트의 같은 위치에 있는 원소들끼리 더한 값을 저장한 리스트.

In [ ]:
random.randrange(0,10)

In [153]:
matrix1=[] # empty list - 1차원 리스트를 저장할 빈 리스트
for _ in range(3): # 3번 반복하면서 행을 추가
  row = [] #원소 3개를 갖는 리스트   
  for _ in range(3):
    row.append(random.randrange(10))
  matrix1.append(row)
print(matrix1)

[[1, 2, 1], [1, 8, 6], [6, 0, 1]]

In [161]:
matrix2=[] # empty list - 1차원 리스트를 저장할 빈 리스트
for _ in range(3): # 3번 반복하면서 행을 추가
  # row = [random.randrange(10) for _ in range(3)] #원소 3개를 갖는 리스트   
  # matrix2.append(row)
  matrix2.append([random.randrange(10) for _ in range(3)])
print(matrix2)

[[5, 6, 4], [9, 4, 6], [7, 6, 2]]

In [162]:
m=[[random.randrange(10) for _ in range(3)] for _ in range(3) ]
print(m)

[[1, 2, 8], [5, 0, 0], [1, 0, 3]]

In [177]:
result=[]
for row1,row2 in zip(matrix1,matrix2):
  add=[]
  for v1,v2 in zip(row1,row2):
    add.append(v1+v2)
  result.append(add)
print(result)

[[6, 8, 5], [10, 12, 12], [13, 6, 3]]

In [179]:
#위를 간단히 하면
result=[]
for row1,row2 in zip(matrix1,matrix2):
  add=[v1+v2 for v1,v2 in zip(row1,row2)]
  result.append(add)
print(result)

[[6, 8, 5], [10, 12, 12], [13, 6, 3]]

In [180]:
# 위를 더 간단히 하면
result=[[v1+v2 for v1,v2 in zip(row1,row2)]for row1,row2 in zip(matrix1,matrix2)]
print(result)

[[6, 8, 5], [10, 12, 12], [13, 6, 3]]