<a href="https://colab.research.google.com/github/sangjin94/SQL_ITWILL/blob/main/py11_tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 튜플 (tuple)

* tuple: 저장된 원소(아이템)들을 변경할 수 없는 리스트.
* 인데스 기반의 데이터 타입. 인덱스를 사용해서 원소를 참조함. - indexing, slicing
* append(), insert(), extend(),remove(),pop() 와 같은 기능(메서드) 들은 제공되지 않음.

In [ ]:
numbers=(1,3,2,4,5)
print(numbers)
print(type(numbers))

(1, 3, 2, 4, 5)
<class 'tuple'>

## indexing

In [ ]:
print(numbers[0]) # 인덱스는 0부터 시작
print(numbers[4]) # 마지막 인덱스는 (원소 개수 -1)
print(numbers[-1]) # 음수 인덱스- 튜플의 마지막 원소부터 거꾸로 매겨지는 인덱스

1
5
5

slicing

In [ ]:
print(numbers)
print(numbers[1:3]) # start <= index < stop 범위의 원소들로 이루어진 튜플
print(numbers[:3]) # 시작 인덱스가 생략되면 0부터 (앞에서 3개를 잘라낸 튜플)
print(numbers[3:]) # 종료 인덱스가 생략되면 끝까지
print(numbers[-3:]) # 튜플에서 끝에서 3개를 잘라낸 튜플

(1, 3, 2, 4, 5)
(3, 2)
(1, 3, 2)
(4, 5)
(2, 4, 5)

In [ ]:
print(numbers[1]) #> 원소(아이템) - 숫자 
print(numbers[1:2]) # 원소 1개로 이루어진 튜플

3
(3,)

In [ ]:
numbers2= sorted(numbers)
print(numbers2)

[1, 2, 3, 4, 5]

In [ ]:
# numbers[0]=100
#> TypeError 발생 - 튜플은 기존 원소의 값을 변경할 수 없다.!

##decomposition(분해)

In [ ]:
first,second=(1,2)
print('first=',first)
print('second=',second)

first= 1
second= 2

## 튜플과 반복문

In [ ]:
numbers= (1,2,10,20,100,200)
for x in numbers:
  print(x)

1
2
10
20
100
200

In [ ]:
numbers=((1,2),(3,4),(5,6))

for row in numbers:
  for x in row: 
    print(x,end='\t')
  print()

1	2
3	4
5	6

In [ ]:
# decomposition 을 사용한 for 반복문
for x,y in numbers:
  print(x,y)