<a href="https://colab.research.google.com/github/sangjin94/SQL_ITWILL/blob/main/py16_recursive_fn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

** 재귀 함수(recursive function)**:

함수 내부에서 자기 자신을 다시 호출하는 함수

In [2]:
def factorial(n):
  """
  0! = 1
  1! = 1= 0!x1
  2! = 1 x 2 = 2 = 1! x 2
  3! = 1 x 2 x 3 = 6 = 2! x 3
  ...
  n! = 1 x 2 x 3 x ... x (n-1) x n = (n-1)! x n, n >= 1 
  """
  result= None # 변수 초기화
  if n == 0 : 
    result = 1 # 정의 : 0! = 1
  elif n > 0 :
    result = 1 
    for x in range(1,n+1): #range(1,n+1) = (1,2,...,n-1,n)
      result *= x  
  return result

In [13]:
factorial(5)

120

In [11]:
def factorial2(n):
  """
  0!=1
  n!=(n-1)! x n, n>=1
  """
  result=None
  if n==0:
    result =1
  elif n>0:
    result=factorial2(n-1)*n # 재귀 호출(recursive call)
  return result

In [16]:
# 함수 생성 결과 테스트
for n in range(-1,6):
  print(f'{n}!={factorial2(n)}')

-1!=None
0!=1
1!=1
2!=2
3!=6
4!=24
5!=120

#함수 작성 연습

## Ex1.
* 함수이름: sum_to
* 0부터 n까지의 합계를 리턴하는 함수
   * `0+1+2+3+..+(n-1)+(n)`

In [29]:
def sum_to(n):
  if n >= 0:
    s=0
    for i in range(n+1):
      s += i
  elif n < 0:
     s= None   
  return s

In [99]:
def sum_to(n):  # 재귀함수 이용
  if n > 0:
    s=0
    s= sum_to(n-1)+n
  elif n==0:
    s=0
  elif n<0:
    s= None
  return s

In [101]:
sum_to(3)

6

In [86]:
sum_to(0)

0

## Ex2.

* square_sum
* 0부터 n까지 정수의 제곱의 합을 리턴하는 함수
  * `0**2 + 1**2 + 2**2 +...(n-1)**2+ n**2 `

In [116]:
def square_sum(n):
  if n >= 0:
    s=0
    for i in range(n+1):
      s += i**2
  elif n < 0:
    s= None
  return s

In [104]:
def square_sum2(n): # 재귀함수 이용

  result= None
  if n==0:
    result = 0
  elif n>0:
    result= square_sum2(n-1) + n **2
  return result

In [119]:
def square_sum3(n):
  if n<0:
    result=None
  else:
    squares=[x**2 for x in range(n+1)] # 0~n까지의 정수들의 제곱을 저장하는 리스트
    result= sum(squares)
  return result

In [ ]:
def square_sum4(n):
  """
  n<0 : s(n**2) = None
  n=0 : s(n**2) = 0
  n>1 : s(n**2) = 0 + 1**2 + 2**2 + ...(n-1)**2 + n**2 = ss(n-1) + n**2
  """
  if n<0 :
    result= None
  elif n == 0:
    result = 0
  else:
    result = square_sum4(n-1)+n**2

In [121]:
for n in range(-1,5):
  print(f'n= {n}:square_sum = {square_sum(n)}')

n= -1:square_sum = None
n= 0:square_sum = 0
n= 1:square_sum = 1
n= 2:square_sum = 5
n= 3:square_sum = 14
n= 4:square_sum = 30

## Ex3.

* find_max_index
* 숫자들의 리스트를 argument로 전달했을 때, 그 리스트에서 최댓값의 위치(인덱스)를 리턴하는 함수

In [122]:
import random

In [124]:
random.seed(0)
numbers=[random.randrange(100) for _ in range(10)]
print(numbers)

[49, 97, 53, 5, 33, 65, 62, 51, 38, 61]

In [82]:
def find_max_index(x):
  for i,v in enumerate(x):
   if v==max(x):
      return i

In [125]:
find_max_index(numbers)

1

In [129]:
def find_max(numbers):
  """ 숫자들을 저장한 리스트 numbers의 최댓값을 리턴하는 함수"""
  max_num=numbers[0] # 리스트 numners(인덱스 0 위치의 값)의 첫번째값을 최댓값이라고 가정\
  for i in range(len(numbers)): #인덱스 0부터 (length-1) 까지 반복
    if max_num < numbers[i]: # 기존 최댓값보다 더 큰 값을 리스트에서 찾은 경우
      max_num = numbers[i]
  return max_num

In [130]:
def find_max_index2(numbers):
  """ 숫자들을 저장한 리스트 numbers의 최댓값과 최댓값의 인덱스를 리턴하는 함수"""
  max_num=numbers[0] #최댓값을 numbers의 첫번째 값이라고 가정
  index=0          #최댓값의 위치(인덱스)는 0이라고 가정
  for i in range(len(numbers)): 
    if max_num < numbers[i]: 
      max_num = numbers[i] #최댓값을 i번째 원소로 변경
      index=i #최댓값의 인덱스를 i로 변경
  return index

In [131]:
print('최댓값:', find_max(numbers))
print('최댓값의 인덱스:', find_max_index2(numbers))

최댓값: 97
최댓값의 인덱스: 1

In [132]:
numbers.index(97) 
# numbers.index(값): 리스트 numbers에서 값이 있는 위치(인덱스)를 리턴

1

In [133]:
def find_max_index3(numbers):
  max_num=max(numbers) # numbers의 최댓값을 찾음
  max_index=numbers.index(max_num)
  return max_index