<a href="https://colab.research.google.com/github/sangjin94/SQL_ITWILL/blob/main/py19_oop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# OOP(Object-Oriented Programming, 객체 지향 프로그래밍)

# 배경 설명

In [3]:
#  학생, 과목 점수 리스트
students=[
          {'name':'aaa','korean':90,'english':80,'math':70},
          {'name':'bbb','korean':70,'english':100,'math':80},
          {'name':'ccc','korean':85,'english':80,'math':90},
          {'name':'ddd','korean':100,'english':90,'math':60},
          {'name':'eee','korean':95,'english':60,'math':100}
          ]

In [23]:
# 각 학생의 3과목 총점과 평균을 출력
for s in students:
  total= s['korean']+s['english']+s['math']
  print(s['name'],'총점=' ,total,'평균=',total/3)

aaa 총점= 250 평균= 83.33333333333333
bbb 총점= 260 평균= 86.66666666666667
ccc 총점= 210 평균= 70.0
ddd 총점= 200 평균= 66.66666666666667
eee 총점= 260 평균= 86.66666666666667

위 프로그래밍 방식의 문제점은 dict의 키는 중복되지 않게만 설정하면 되기 때문에, 
반복문을 사용해서 총점과 평균을 계산, 출력하는 기능을 만들 수 없는 경우가 발생할 수도 있다.

## 함수형 프로그래밍( Functional programing)

In [20]:
def create_student(name, korean, english,math):
  """ name, korean, english,math를 키로 갖는 dict 객체를 리턴
  """
  student={'name':name,
            'korean':korean,
            'english':english,
            'math':math}
  return student

In [21]:
students=[create_student('aaa',100,80,70),
          create_student('bbb',100,80,80),
          create_student('ccc',50,90,70),
          create_student('ddd',60,60,80),
          create_student('eee',80,80,100)]

In [25]:
for s in students:
  print(s)

{'name': 'aaa', 'korean': 100, 'english': 80, 'math': 70}
{'name': 'bbb', 'korean': 100, 'english': 80, 'math': 80}
{'name': 'ccc', 'korean': 50, 'english': 90, 'math': 70}
{'name': 'ddd', 'korean': 60, 'english': 60, 'math': 80}
{'name': 'eee', 'korean': 80, 'english': 80, 'math': 100}

In [26]:
def get_student_total(student):
  """ student dict 에서 총점을 계산해서 리턴
  """
  total= student['korean']+student['english']+student['math']
  return total

In [27]:
def get_student_avgerage(student):
  """ student dict 에서 총점을 계산해서 리턴
  """
  total= get_student_total(student)
  avg= total/3
  return avg

In [28]:
# 각 학생의 3과목 총점과 평균을 출력
for s in students:
  total= get_student_total(s)
  avg= get_student_avgerage(s)
  print(s['name'],'총점=' ,total,'평균=',avg)

aaa 총점= 250 평균= 83.33333333333333
bbb 총점= 260 평균= 86.66666666666667
ccc 총점= 210 평균= 70.0
ddd 총점= 200 평균= 66.66666666666667
eee 총점= 260 평균= 86.66666666666667

총점과 평균을 계산하는 함수는 학생 dict 타입과 매우 밀접한 관계를 맺고있음.

서로 관계를 맺고 있는 데이터(이름,3과목 점수)와 기능(총점 계산, 평균계산)
하나로 묶을 수 있을까?

# 객체 지향 프로그래밍(OOP,Objected-Oriented Programing)

* 객체 (Object): 소프트웨어로 구현할 대상. 자료구조.
* 클래스(class): 객체를 구현하기 위한 설계도. 코드.
  * 속성(attribute): 데이터. 변수에 저장되는 값
  * 매서드(method): 기능. 클래스 내부에서 정의하는 함수 
* 인스턴스(instance): 설계도인 클래스에 따라서 메모리에 생성된 객체.
* 인스턴스 생성(instantiate): 클래스의 객체를 메모리에 생성하는 것.
* 생성자(constructor): 클래스의 이름과 동일한 함수.
  * 생성자를 호출하면 클래스에서 정의된 `__init__`매서드가 자동으로 호출됨.

In [40]:
# 클래스 정의(선언)
class Student:
  # 생성자 함수  : 속성들을 선언하고 초기화
  def __init__(self,name,korean,english,math):
    self.name=name
    self.korean=korean
    self.english=english
    self.math=math
  
  # 매서드
  def get_sum(self):
    """3과목의 총점을 리턴"""
    return self.korean+self.english+self.math
  def get_average(self):
    """3과목의 평균을 리턴"""
    sum=self.get_sum()
    avg=sum/3
    return avg

In [41]:
# Student 클래스의 인스턴스 생성: 생성자 함수 호출 -> 클래스의 __init__ 매서드가 호출됨
student_1=Student(name='오쌤',korean=100,english=100,math=100)
print(student_1)
print('이름:',student_1.name) # student_1 인스턴스가 가지고 있는 name 속성
print('국어점수',student_1.korean)
print('영어점수:',student_1.english)
print('수학점수:',student_1.math)
print('총점:',student_1.get_sum()) #인스턴스의 메서드 호출
print('평균:',student_1.get_average())

<__main__.Student object at 0x7fa76a9eaf10>
이름: 오쌤
국어점수 100
영어점수: 100
수학점수: 100
총점: 300
평균: 100.0

In [42]:
student_2= Student('홍길동',100,50,98)
print(student_2)
print('이름:',student_2.name)
print('국어점수',student_2.korean)
print('영어점수:',student_2.english)
print('수학점수:',student_2.math)
print('총점:',student_2.get_sum()) #인스턴스의 메서드 호출
print('평균:',student_2.get_average())

<__main__.Student object at 0x7fa76a9dded0>
이름: 홍길동
국어점수 100
영어점수: 50
수학점수: 98
총점: 248
평균: 82.66666666666667