<a href="https://colab.research.google.com/github/sangjin94/SQL_ITWILL/blob/main/py19_oop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# OOP(Object-Oriented Programming, 객체 지향 프로그래밍)

# 배경 설명

In [3]:
#  학생, 과목 점수 리스트
students=[
          {'name':'aaa','korean':90,'english':80,'math':70},
          {'name':'bbb','korean':70,'english':100,'math':80},
          {'name':'ccc','korean':85,'english':80,'math':90},
          {'name':'ddd','korean':100,'english':90,'math':60},
          {'name':'eee','korean':95,'english':60,'math':100}
          ]

In [23]:
# 각 학생의 3과목 총점과 평균을 출력
for s in students:
  total= s['korean']+s['english']+s['math']
  print(s['name'],'총점=' ,total,'평균=',total/3)

aaa 총점= 250 평균= 83.33333333333333
bbb 총점= 260 평균= 86.66666666666667
ccc 총점= 210 평균= 70.0
ddd 총점= 200 평균= 66.66666666666667
eee 총점= 260 평균= 86.66666666666667

위 프로그래밍 방식의 문제점은 dict의 키는 중복되지 않게만 설정하면 되기 때문에, 
반복문을 사용해서 총점과 평균을 계산, 출력하는 기능을 만들 수 없는 경우가 발생할 수도 있다.

## 함수형 프로그래밍( Functional programing)

In [20]:
def create_student(name, korean, english,math):
  """ name, korean, english,math를 키로 갖는 dict 객체를 리턴
  """
  student={'name':name,
            'korean':korean,
            'english':english,
            'math':math}
  return student

In [21]:
students=[create_student('aaa',100,80,70),
          create_student('bbb',100,80,80),
          create_student('ccc',50,90,70),
          create_student('ddd',60,60,80),
          create_student('eee',80,80,100)]

In [25]:
for s in students:
  print(s)

{'name': 'aaa', 'korean': 100, 'english': 80, 'math': 70}
{'name': 'bbb', 'korean': 100, 'english': 80, 'math': 80}
{'name': 'ccc', 'korean': 50, 'english': 90, 'math': 70}
{'name': 'ddd', 'korean': 60, 'english': 60, 'math': 80}
{'name': 'eee', 'korean': 80, 'english': 80, 'math': 100}

In [26]:
def get_student_total(student):
  """ student dict 에서 총점을 계산해서 리턴
  """
  total= student['korean']+student['english']+student['math']
  return total

In [27]:
def get_student_avgerage(student):
  """ student dict 에서 총점을 계산해서 리턴
  """
  total= get_student_total(student)
  avg= total/3
  return avg

In [28]:
# 각 학생의 3과목 총점과 평균을 출력
for s in students:
  total= get_student_total(s)
  avg= get_student_avgerage(s)
  print(s['name'],'총점=' ,total,'평균=',avg)

aaa 총점= 250 평균= 83.33333333333333
bbb 총점= 260 평균= 86.66666666666667
ccc 총점= 210 평균= 70.0
ddd 총점= 200 평균= 66.66666666666667
eee 총점= 260 평균= 86.66666666666667

총점과 평균을 계산하는 함수는 학생 dict 타입과 매우 밀접한 관계를 맺고있음.

서로 관계를 맺고 있는 데이터(이름,3과목 점수)와 기능(총점 계산, 평균계산)
하나로 묶을 수 있을까?